.main-box{
    display: flex;
    justify-content: center;
}

.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.main-button{
    height: 40px;
    width: 100px;
    background-color: white;
    font-size: 20px;
}

.winner{
    font-size: xx-large;
    
}